* {
    box-sizing: border-box;
}
div.items {
    display: flex;
    flex-wrap: wrap;
}

div.item {
    border: 1px solid black;
    width: 23%;
    margin: 0.5%;
    padding: 5px;
}
div.item img{
    width: 100%;
}

ul.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:gray;
    display: flex;
    justify-content: center;
}

ul.menu-items>li{
    max-width: 200px;
    border-right: 1px solid white;
}

ul.menu-items>li>a{
    text-decoration: none;
    display: block;
    padding: 15px 30px;
    color: black;
}

ul.menu-items>li>a:hover{
    background-color: blue;
    color: white;
    transform: scale(1.1);
    border-radius: 10px;
}

ul.menu-phukien,ul.menu-pcmayin,ul.menu-dvti {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

ul.menu-items>li>a :hover ul.menu-phukien{
    display: block;
}


ul.menu-phukien>li>a,ul.menu-pcmayin>li>a,ul.menu-dvti>li>a{
    text-decoration: none;
    padding: 15px 30px;
    color: black;
}
